.online{
    position: relative;
}
.online::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--surface-0);
    right: 2px;
    bottom: 2px;
}