server:
  port: 8081

spring:
  application:
    name: server

  datasource:
    url: jdbc:mysql://localhost:3306/chat_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
