.conversation-active-users-tile{
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0 0 8px 16px;
}
.conversation-active-users{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 8px;
    border-bottom:1px solid var(--surface-border) ;
}
.conversation-active-users::-webkit-scrollbar{
    display: none;
}
.active-user{
    padding: 0 4px;
    text-align: center;
}
.active-user small{
    font-size: 0.875rem;
}
.online{
    position: relative;
}
.online::before{
    content: "";
    position: absolute;
    background-color:#23be7e ;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px soild var(--surface-0);
    right: 2px;
    bottom: 2px;
}