name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build Spring Boot
      working-directory: backend
      run: ./mvnw clean install

    - name: Set up Node.js 20.19.5
      uses: actions/setup-node@v2
      with:
        node-version: '20.19.5'

    - name: Install Angular dependencies
      working-directory: frontend
      run: npm install

    - name: Build Angular app
      working-directory: frontend
      run: npm run build --prod

    - name: Deploy to server
      run: |
        # Chèn mã deploy của bạn ở đây
        echo "Deploy to server"
